@import '~src/assets/styles/base';

.container {
    overflow: hidden;
    // background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: 56px;
    background: $color-bg-black;
    backdrop-filter: blur(20px);
    z-index: 1;
    .wrapper {
        display: flex;
        align-items: center;
        .search {
            min-width: 250px;
            color:white;
        }
    }

}
