<div class="container">
    <span class="wrapper">
        <mat-form-field class="search" floatLabel=never>
            <mat-label class="search__label">Search for video</mat-label>
            <input matInput  type="text" [(ngModel)]="searchValue">
        </mat-form-field>
        <button  mat-button matSuffix mat-icon-button color="primary"  aria-label="Search" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </span>
    <button  mat-button matSuffix mat-icon-button color="primary" aria-label="Search" (click)="watchLater()">
        <mat-icon  [matBadge]="numOfWatchLaterVideos" [matBadgeHidden]="!numOfWatchLaterVideos" matBadgeColor="accent" >watch_later</mat-icon>
    </button>
</div>