<div class="container" *ngIf="data; else loader">
    <div class="video">
        <div class="video__container">
            <iframe class="video__iframe" frameborder="0" allow="autoplay; encrypted-media" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen [src]="videoLink"></iframe>
        </div>
        <div class="video__details">
            <h2 class="video_title">
                {{data.title}}
            </h2>
            <app-video-statistics [data]="data"></app-video-statistics>
        </div>
    </div>

</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>