<div class="sidebar">
    <div class="logo">
        <img src="assets/img/logo.png">
    </div>
    <div class="menu">
        <nav>
            <app-nav-item link="/search" title="Search" icon="search">
            </app-nav-item>
            <div class="account">
                <app-nav-divider title="Account"></app-nav-divider>
                <app-nav-item class="user" link="/me" title="Guest" icon="person">
                </app-nav-item>
                <app-nav-item class="watch-later" link="/WatchLater" title="Watch later" icon="watch_later">
                </app-nav-item>
            </div>
        </nav>
    </div>
</div>