@import "variables";

.statistics {
    display: flex;
    justify-content: flex-start;
    align-items: center;

        .divider {
            padding: 0 5px;
        }
    
    .statistics__item {
        display: flex;
        align-items: center;
        padding-right: $font-size-small;
        span {
            font-size: $font-size-x-small;
            padding-left: 5px;
        }
        mat-icon{
            font-size: $font-size-small;
            width: $font-size-small;
            height: $font-size-small;
        }
    }

    .statistics__like {
        padding-right: 10px;
    }
}

