
$font-family-base: 'Roboto' ,'Raleway', Helvetica;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 500;

$font-size-x-small: 10px;
$font-size-small: 14px;
$font-size-large: 24px;

$brand-primary: white;
$purple-primary-opacity: rgba(86, 64, 101, 1);
$brand-primary-opacity: rgba(250,250,250,.5);
$input-border-focus: lighten($brand-primary,20%);
$border-radius-base: 0;
$border-radius-small: 0;
$font-weight-lighter: 100;
$gray-darker: #cbcaca;

$btn-width: 40px;
$btn-color: $brand-primary;
$light-white: #fcfcfc;
$light-boxshadow: 0 0 8px 0 rgb(200, 200, 200);

$aux-brand-primary: #e800b4;
$purple-light: #9981a8;
$purple: #564065;
$purple-darker: #5d5563;
$purple-dark: #403647;
$primary-boxshadow: 0 0 8px 0 rgba(0,0,0,0.7);
$divider-boxshadow: 0 0 1px 0 rgba(0,0,0,0.7);
$primay-gradient: linear-gradient($purple-dark,$purple);
