@import "variables";
.video__actions {
    position: relative;
}
.video {
    position: relative;
    display: flex;
    padding: 20px 15px;
    height: 80px;
    color: white;
    cursor: pointer;
    .video__img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .video__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-left: 15px;
        .video__title {
            font-weight: 400;
            margin-bottom: 0;
            font-size: $font-size-small;
        }
        .video__description {
            overflow-wrap: break-word;
            padding-top: 10px;
            color: lightgray;
        }
        .video__date {
            color: $purple-light;
        }

        .video__date::before {
            content: "—";
            margin-left: 4px;
            margin-right: 2px;
        }
    }

    .video__watch-later {
        display: flex;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 5px;
        height: 21px;
        width: 21px;
        border: 1px solid $purple-light;
        border-radius: 2px;
        cursor: pointer;
        overflow: hidden;
        mat-icon {
            margin: 0 3px;
            color: $purple-light;
            font-size: $font-size-small;
            height: 14px;
        }
    }

    .done {
        border-color: $aux-brand-primary;
        mat-icon {
            color: $aux-brand-primary;
        }
    }
}
.menu__actions {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 10px;
}

.with_border {
    border-bottom: 1px solid $purple-darker;
}

div[id*='mat-menu-panel'] {
    padding: 0;
    min-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.mat-menu-content {
    .mat-menu-item,
    .mat-menu-item mat-icon {
        color: white;
        margin-right: 5px;
        font-size: 21px;
    }
}

.mat-menu-panel {
    background: $purple-primary-opacity;
    color: $brand-primary;
}
