@import "variables";

.video {
    position: relative;
    display: flex;
    padding: 20px 15px;
    height: 80px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid $gray-darker;
    .video__actions {
        position: relative;
        // .video__watch-later {
        //     display: flex;
        //     align-items: center;
        //     position: absolute;
        //     top: 5px;
        //     right: 5px;
        //     height: 30px;
        //     background: rgba(0, 0, 0, 0.5);
        //     border-radius: 5px;
        //     cursor: pointer;
        //     overflow: hidden;
        //     mat-icon {
        //         margin: 0 3px;
        //     }
        //     .watch-later__text {
        //         white-space: nowrap;
        //         padding-right: 5px;
        //     }
        //     .active{
        //         color:#00bdfb;
        //     }
        //     .inactive{

        //     }
        // }

        .video__img{
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
    .video__details {
        min-width: 320px;

        padding-left: 5px;
        .video__title {
            font-weight: 700;
            margin-bottom: 0;
        }
        .video__description {
            overflow-wrap: break-word;
            padding-top: 10px;
            color: lightgray;
        }
        .video__date{
            color: $purple-light;
        }
    }

    .menu__actions{
        right: 0;
        position: absolute;
    }

// &:hover {
//     background: rgba(250,250,250,.15);
// }
}